BR2_x86_64=y
BR2_x86_corei7_avx=y
BR2_TOOLCHAIN_BUILDROOT_VENDOR="platina"
BR2_KERNEL_HEADERS_4_9=y
BR2_TOOLCHAIN_BUILDROOT_USE_SSP=y
# BR2_UCLIBC_INSTALL_UTILS is not set
BR2_ROOTFS_SKELETON_NONE=y
BR2_INIT_PLATINA_GOES=y
BR2_ROOTFS_DEVICE_TABLE=""
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/platinasystems/linux"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="master"
BR2_LINUX_KERNEL_DEFCONFIG="platina-mk1"
BR2_LINUX_KERNEL_XZ=y
# BR2_LINUX_KERNEL_INSTALL_TARGET_MODULES is not set
# BR2_PACKAGE_BUSYBOX is not set
BR2_PACKAGE_E2FSPROGS=y
# BR2_PACKAGE_E2FSPROGS_BADBLOCKS is not set
# BR2_PACKAGE_E2FSPROGS_CHATTR is not set
# BR2_PACKAGE_E2FSPROGS_DUMPE2FS is not set
# BR2_PACKAGE_E2FSPROGS_E2FREEFRAG is not set
# BR2_PACKAGE_E2FSPROGS_E2LABEL is not set
# BR2_PACKAGE_E2FSPROGS_E2UNDO is not set
# BR2_PACKAGE_E2FSPROGS_FILEFRAG is not set
# BR2_PACKAGE_E2FSPROGS_LOGSAVE is not set
# BR2_PACKAGE_E2FSPROGS_LSATTR is not set
# BR2_PACKAGE_E2FSPROGS_MKLOSTFOUND is not set
# BR2_PACKAGE_E2FSPROGS_TUNE2FS is not set
# BR2_PACKAGE_E2FSPROGS_UUIDGEN is not set
BR2_PACKAGE_FLASHROM=y
BR2_PACKAGE_POPT=y
BR2_PACKAGE_PLATINA_GOES_TAGS="netgo debug"
BR2_TARGET_ROOTFS_CPIO_XZ=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_COREBOOT=y
BR2_TARGET_COREBOOT_CUSTOM_GIT=y
BR2_TARGET_COREBOOT_CUSTOM_REPO_URL="https://github.com/platinasystems/coreboot.git"
BR2_TARGET_COREBOOT_CUSTOM_REPO_VERSION="buildroot"
BR2_TARGET_COREBOOT_PATCH=""
BR2_TARGET_COREBOOT_BOARD_DEFCONFIG="platina-mk1"
BR2_TARGET_COREBOOT_LINUX_PAYLOAD=y
BR2_TARGET_COREBOOT_LINUX_COMMAND="console=ttyS0,115200 loglevel=4 goesroot=auto:10"
BR2_TARGET_COREBOOT_ROOTFS_PAYLOAD=y
